<h1 align="center"> Recipe Name: <%= @recipe.name.capitalize %></h1>
<hr />
<div class="row bg-light mb-5">
  <div class="col-md-10 ">
    <h4 class="center description"><strong>Description: </strong></h4>
    <hr />
      <%= @recipe.description %>
      <p>Created by:</p>
      <p><small><%= @recipe.chef.chefname %></small>
      <div class="float-right mb-2">created at: <%= time_ago_in_words(@recipe.created_at) %></div>
      </p>
  </div>
</div>

