
$navbar-expand-lg: black;

@import 'bootstrap/dist/css/bootstrap';
// @import "bootstrap/scss/bootstrap";
// @import "bootstrap";


// ---------- NAVBAR ----------
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

// ---------- END NAVBAR ----------

//---------- HOMEPAGE ----------
.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('hero-pasta.jpg');
    background-size: cover;
    height: 300px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-x-lg {
    background-color: black;
}

.btn-x-lg:hover {
    color: #fff;
    text-decoration: none;
}
//---------- END HOMEPAGE ----------