<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <%= link_to "Instagram"%>
        </div>
        <div class="col-sm-4">
        <%= link_to "Facebook"%>
        </div>
        <div class="col-sm-4">
        <%= link_to "Twitter"%>
        </div>
    </div>
    <div class="row mt-2">
    <p>&copy; 2021 Daniela Vazquez</p>
    </div>
</div>
